<script type="text/javascript" src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/pages-switcher.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/validator.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery.shuffle.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/masonry.pkgd.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery.hoverdir.js' | relative_url }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{site.api-settings.map}}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery.googlemap.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>